# Fichiers de cache et bytecode Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environnement virtuel
.venv/
venv/
env/

# Artefacts de build
build/
dist/
*.egg-info/

# Configuration des IDEs
.vscode/
.idea/

# Fichiers générés par le système d'exploitation
.DS_Store
Thumbs.db

# Artefacts de test
.pytest_cache/
.coverage
htmlcov/

# Mouwafic

files/